.porcentaje-table {
  th {
    text-align: center;
    &:first-child {
      min-width: 40px;
    }
    &:nth-child(2) {
      min-width: 120px;
    }
    &:nth-child(3) {
      min-width: 100px;
      width: 100%;
    }
    &:last-child {
      min-width: 100px;
      width: 100px;
    }
  }
}
